<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.ReplyMapper">
	
	<resultMap type="com.blog.model.Reply" id="BaseResultMap">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="author_id" property="author_id" jdbcType="VARCHAR"/>
		<result column="content" property="content" jdbcType="LONGVARCHAR"/>
		<result column="replytime" property="replyTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<sql id="Base_Colum_list">
		id, author_id, replyTime, articleId, content
	</sql>
	
	<!-- 发表回复 -->
	<insert id="save" parameterType="com.blog.model.Reply">
		insert into reply(author_id, articleId, content, replyTime)
		values(#{author_id}, #{articleId}, #{content}, #{replyTime}} )
	</insert>
	
	<!-- 根据id删除回复 -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from reply where id=#{id}
	</delete>
	
	<!-- update 已发表回复不能修改 -->
	<!-- <update id="update" parameterType="com.blog.model.Reply">
		update reply set
		username=#{content}, sex=#{replyTime}
		where id=#{id}
	</update> -->
	
</mapper>