<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.UserMapper">

	<resultMap type="com.blog.model.User" id="BaseResultMap">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="password_salt" property="password_salt" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="registertime" property="registerTime" jdbcType="TIMESTAMP" />
		<result column="lastlogintime" property="lastloginTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Colum_list">
		id, username, sex, password, password_salt, email, registertime, lastlogintime
	</sql>

	<!-- 添加用户 -->
	<insert id="save" parameterType="com.blog.model.User">
		insert into users(username, sex, password, password_salt,
		email, registertime, lastlogintime)
		values(#{username}, #{sex}, #{password},
		#{password_salt}, #{email}, #{registerTime}, #{lastloginTime} )
	</insert>

	<!-- 根据id删除用户 -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from users where id=#{id}
	</delete>

	<!-- update -->
	<update id="update" parameterType="com.blog.model.User">
		update users
		<set>
			<trim>
				<if test="username != null and username != '' ">
					username=#{username, jdbcType=VARCHAR},
				</if>
				<if test="sex != null and sex != '' ">
					sex=#{sex, jdbcType=VARCHAR},
				</if>
				<if test="password != null and password != '' ">
					password=#{password, jdbcType=VARCHAR},
				</if>
				<if test="password_salt != null and password_salt != '' ">
					password_salt=#{password_salt, jdbcType=VARCHAR},
				</if>
				<if test="email != null and email!= '' ">
					email=#{email, jdbcType=VARCHAR},
				</if>
				<if test="lastloginTime != null">
					lastlogintime=#{lastloginTime, jdbcType=TIMESTAMP}
				</if>
			</trim>
		</set>
		where id=#{id}
	</update>

	<!-- get by id -->
	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Colum_list" />
		from users
		where id=#{id}
	</select>

	<!-- get by username -->
	<select id="getByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Colum_list" />
		from users
		where username=#{username}
	</select>

	<!-- find all -->
	<select id="getAll" resultType="com.blog.model.User">
		select
		<include refid="Base_Colum_list" />
		from users
	</select>

	<!-- getByUsernameAndPassword -->
	<select id="getByUsernameAndPassword" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Colum_list" />
		from users
		where username=#{username} and password=#{password}
	</select>
</mapper>